:root {
    --swiper-theme-color: rgb(255, 109, 0) !important;
}

body {
    background-color: rgb(30, 30, 30);
    color: white;
    font-family: 'NPO Sans Regular';
}

header {
    margin-top: 140px;
}

#logo {
    width: 250px;
    display: block;
    margin: 0 auto;
}

section {
    width: 1440px;
    margin: 0 auto;
    margin-top: 40px;
}

.label {
    font-size: 24px;
    margin-bottom: 8px;
    display: block;
}

.swiper-slide {
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 350px !important;
    height: 175px !important;
    border-radius: 6px;
    img {
        height: 120px;
    } span {
        display: inline-block;
        color: black;
        font-size: 32px;
        margin-left: -16px;
    }
}

@font-face {
    font-family: 'NPO Sans Regular';
    src:  url('font/NPOSans-RegularWeb-v1.0.eot') format('eot'),
          url('font/NPOSans-RegularWeb-v1.0.woff') format('woff');
}

@font-face {
    font-family: 'NPO Sans Bold';
    src:  url('font/NPOSans-BoldWeb-v1.0.eot') format('eot'),
          url('font/NPOSans-BoldWeb-v1.0.woff') format('woff');
}